*build
*install
*log
*.vscode
*libs
**data
**/.vscode/
bin

compile_commands.json
thirdparty/Pangolin-0.9.3/
/thirdparty/livox_ros_driver/livox_ros_driver_改进.md
build_log.txt

**cmake-build-debug**
**cmake-build-release**
